<header>
  <nav>
    <button routerLinkActive="active" mat-button color="primary" routerLink="/standalone">
      Standalone
    </button>
    <button routerLinkActive="active" mat-button color="primary" routerLink="/dependency-injection">
      Dependency Injection
    </button>
    <button routerLinkActive="active" mat-button color="primary" routerLink="/injector">
      Injector
    </button>

    <button
      routerLinkActive="active"
      mat-button
      color="primary"
      routerLink="/environment-initializer"
    >
      Environment Initializer
    </button>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>
