:host {
  width: 960px;
  margin: auto;
  display: block;
  padding: 5rem 2rem;
  border: 1px solid #fafafa;
}

app-card {
  display: block;

  &:not(:first-child) {
    margin-top: 2rem;
  }
}

.active {
  color: blue;
  text-decoration: underline;
}

main {
  margin-top: 2rem;
}
